

<div style="text-align: center;">

    <h1>Show Page</h1>
    <hr>

    <% for(item of items){ %> 

    <h2>Name: <%= item.name %> </h2>
    <h3>description: <%= item.description %> </h3>
    <i><b>Category Amount</b>: <%= item.category_amount %> </i>

    <% } %> 

    <% if (locals.isAdmin === 1) { %>

        <a href="/groups/<%= item.id %>/edit">Update</a>

        <br>

        <form action="/groups/<%= item.id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
     
    <% } %>

    <br>

    <a href="/members/new">Join Group</a>
    
    
    <a href="/groups">Back to All Groups</a>
    

</div>