

<div style="text-align: center;">

    <h1>Show Page</h1>
    <hr>

    <% for(item of items){ %> 

    <h2>Name: <%= item.name %> </h2>
    <h3>description: <%= item.description %> </h3>
    <i><b>Category Amount</b>: <%= item.category_amount %> </i>
    <i style="display: block;"><b>Created On</b>: <%= item.date.toLocaleTimeString() %>  <%= item.date.toLocaleDateString() %> </i>

    <% } %> 
    
    <a href="/groups/<%= item.id %>/edit">Update</a>
    <a href="/groups">View Groups</a>
    <form action="/groups/<%= item.id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>

</div>